* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f1f3f6;
}



/* Cart */
.cart-container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
}

.cart-items {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    transition: 0.2s;
}

.cart-item:hover {
    background: #fafafa;
}

.cart-item img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
}

.item-info {
    flex: 1;
    margin-left: 20px;
}

.item-info h3 {
    font-size: 18px;
}

.item-price {
    font-size: 18px;
    font-weight: bold;
}

.quantity-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.qty-btn {
    padding: 4px 10px;
    background: #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.qty-btn:hover {
    background: #ccc;
}

.delete-btn {
    background: #ff3f6c;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background: #e7325a;
}

/* Summary box */
.cart-summary {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

#checkout-btn {
    width: 100%;
    padding: 12px;
    background: #ff3f6c;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

#checkout-btn:hover {
    background: #e7325a;
}
