/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url("https://png.pngtree.com/background/20230413/original/pngtree-business-e-shopping-picture-image_2422998.jpg") center/cover no-repeat;
}

/* ===== CHECKOUT CONTAINER ===== */
.checkout-container {
    max-width: 900px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
}

.checkout-container h2 {
    margin-bottom: 20px;
}

/* ===== CHECKOUT ITEM ===== */
.checkout-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.checkout-item img {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.checkout-details h4 {
    font-size: 16px;
    margin-bottom: 6px;
}

.checkout-details p {
    margin-bottom: 6px;
}

/* ===== SUMMARY ===== */
.checkout-summary {
    margin-top: 20px;
    text-align: right;
}

.checkout-summary .btn {
    padding: 10px 14px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.primary {
    background: linear-gradient(135deg, #ff6a00, #ff3d00);
    color: #fff;
    font-size: 16px;
}

.checkout-summary h3 {
    margin-bottom: 10px;
}

/* ===== MOBILE RESPONSIVE ===== */
@media (max-width: 600px) {
    .checkout-item {
        flex-direction: column;
        text-align: center;
        width: 90%;
    }

    .checkout-container{
        width: 80%;
    }

    .checkout-summary {
        text-align: center;
    }

    .logout-btn{
        margin-left: 160px;
    }
}
