*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.product-details-page {
    padding: 40px 7%;
}

.product-details {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 50px;
    align-items: center;
}

.product-details img {
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.details-box h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.price {
    font-size: 1.5rem;
    margin: 15px 0;
    font-weight: bold;
    color: #ff5722;
}

.description {
    margin: 15px 0;
    line-height: 1.5;
}

.btn-area {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.btn-cart,
.btn-wishlist {
    padding: 12px 22px;
    font-size: 1rem;
    background: #ff5722;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.btn-wishlist {
    background: #222;
}

.btn-cart:hover {
    background: #e64a19;
}

.btn-wishlist:hover {
    background: #000;
}

@media (max-width: 600px) {

    .product-details-page {
        padding: 10px 20px;

    }

    .product-details {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .product-details img {
        height: 260px;
    }

    .details-box h2 {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    .price {
        font-size: 1.2rem;
        margin: 10px 0;
    }

    .description {
        font-size: 0.95rem;
        line-height: 1.6;
    }

    .btn-area {
        flex-direction: column;
        gap: 12px;
    }

    .btn-cart,
    .btn-wishlist {
        width: 100%;
        padding: 14px;
        font-size: 1rem;
        border-radius: 10px;
    }
}

