*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.products-page {
    padding: 30px 7%;
    
}

.filter-bar {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.filter-bar input,
.filter-bar select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    min-width: 180px;
    font-size: 1rem;
}

/* Product Grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
    
    
}

.product-card {
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.price {
    font-weight: 600;
    font-size: 1.2rem;
}

.btn-view {
    display: inline-block;
    padding: 10px 20px;
    background: #ff5722;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    margin-top: 10px;
}
